# .gitignore for Amelie Bot project


.vs/
.vscode/

src/x64
src/Debug
src/cli/lib
bin/
build/

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.pyproj
*.pyproj.user

# resource files
*.log
*.jpg
*.png
*.psd
*.ogg
*.mp3
